body {
    text-align: left;
    color: #ad4f4f;
}

.container {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ad4f4f;
    border-radius: 20px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

footer {
    background-color: #ad4f4f; 
    color: white; 
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}